/** @format */

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.content {
  width: 500px;
  display: flex;
  flex-direction: column;
  background-color: #ffdac7;
  max-width: 200%;
  border-radius: 40px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 1px;
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row; /* Altera para linha em telas maiores */
    height: 700px;
  }
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  background-color: #f3f2d6;
  justify-content: center;
  align-items: center;
}
::placeholder {
  padding: 10px;
}
form {
  width: 300px;
  padding: 10px;
  padding-block: 20px;
  margin-left: auto;
  margin-right: auto;
}
label {
  font-family: "Chivo Mono", monospace;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.562);
}
input {
  width: 250px;
  height: 40px;
  border: 2px solid;
  border-radius: 5px;
  background-color: rgba(144, 131, 145, 0.212);
  outline-color: transparent;
  border-color: transparent;
  margin-top: 5px;
  margin-bottom: 5px;
}

.checkbox-style {
  width: 20px;
  margin-bottom: 20px;
}
.name {
  background-image: url("assets/badge.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 8px;
  padding-left: 40px;
}
.email {
  background-image: url("assets/email.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 8px;
  padding-left: 40px;
}
.username {
  background-image: url("assets/person.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 8px;
  padding-left: 40px;
}
.password {
  background-image: url("assets/locker.svg");
  position: relative;
  background-repeat: no-repeat;
  background-position-x: 10px;
  background-position-y: 8px;
  padding-left: 40px;
}

.checkbox-wrapper-43 {
  width: 20px;
  margin-top: 20px;
  border-color: aqua;
}
.check {
  display: flex;
}
.agree {
  font-family: "Chivo Mono", monospace;
  font-size: 14px;
}
.agree-terms {
margin-top: 20px;
}
h1 {
  font-family: "Chivo Mono", monospace;
  font-size: 35px;
  margin-bottom: 20px;
}
button {
  border-radius: 5px;
  width: 95px;
  height: 40px;
  margin-top: 25px;
  margin-left: 97px;
  background-color: #ffefdf;
  font-family: "Chivo Mono", monospace;
  
}
a {
  color: black;
  font-family: "Chivo Mono", monospace;
  margin-left: 13px;
}

.checkbox-wrapper-43 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}

.checkbox-wrapper-43 label {
  display: inline-block;
}
.back-button {
  text-decoration: none;
}

.checkbox-wrapper-43 .check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-43 .check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: rgba(34, 50, 84, 0.03);
  opacity: 0;
  transition: opacity 0.2s ease;
}
.checkbox-wrapper-43 .check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}
.checkbox-wrapper-43 .check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}
.checkbox-wrapper-43 .check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}
.checkbox-wrapper-43 .check:hover:before {
  opacity: 1;
}
.checkbox-wrapper-43 .check:hover svg {
  stroke: #4285f4;
}
.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg {
  stroke: #4285f4;
}
.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}
.checkbox-wrapper-43 input[type="checkbox"]:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}
