/** @format */

@import url("https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap");

.gm {
  width: 400px;
  height: 450px;
}
.content {
  display: flex;
  flex-direction: column;
  background-color: #ffdac7;
  max-width: 180%;
  border-radius: 40px;
  align-items: center;
  height: 860px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

@media screen and (min-width: 768px) {
  .content {
    flex-direction: row; /* Altera para linha em telas maiores */
    height: auto;
  }
}

form {
  display: flex;
  flex-direction: column; /* Alinha os itens verticalmente */
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 25px; /* Adiciona espaço entre a imagem e o formulário */
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  background-color: #f3f2d6;
  justify-content: center;
  align-items: center;
}
form label,
form input,
form button,
form a {
  margin-bottom: 10px; /* Adiciona espaço entre os elementos */
}

h1 {
  text-align: center;
  color: #ffefdf;
}

::placeholder {
  padding: 10px;
}
a {
  text-decoration: none;
  font-size: small;
  color: black;
  font-family: "Chivo Mono", monospace;
  font-weight: bold;
}

input {
  width: 250px;
  height: 40px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgba(144, 131, 145, 0.212);
  outline-color: transparent;
  border-color: transparent;
}
label {
  font-family: "Chivo Mono", monospace;
  font-weight: bold;
  font-size: small;
  color: rgba(0, 0, 0, 0.562);
}
h1 {
  font-family: "Chivo Mono", monospace;
  font-size: 40px;
  color: black;
}
.googleButton {
  background-color: #eee2cc;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  color: rgb(0, 0, 0);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.192);
}
.loginButton {
  background-color: #ffefdf;
  outline-color: black;
  width: 90px;
  height: 40px;
  border-radius: 1ex;
  color: white;
  font-family: "Chivo Mono", monospace;
  color: black;
  font-size: 14px;
  align-self: center;
  margin-top: 24px;
}
.user {
  background-image: url("assets/person.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position-x: left;
  padding-left: 30px;
  background-position-y: 9px;
  background-position: 10px;
  padding-inline-start: 40px;
}
.password {
  background-image: url("assets/locker.svg");
  background-repeat: no-repeat;
  position: relative;
  background-position-x: left;
  padding-left: 30px;
  background-position-y: 9px;
  background-position: 10px;
  padding-inline-start: 40px;
}
.register-position {
  align-self: flex-end;
  margin-right: 15px;
  margin-top: 10px;
  text-decoration-line: underline;
}
